@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');
body
{
  display: grid;
  height: 100%;
  place-items: center;
  background: #2d035c;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat',sans-serif;
  }